.ExperienceBar {
  overflow: scroll; /* Force scrollbar to always be visible */
  scrollbar-color: var(--honey) transparent;
  scrollbar-width: auto;
}

.ExperienceBar::-webkit-scrollbar {
  width: 1em;
  display: block; /* Ensures the scrollbar is always shown */
}

.ExperienceBar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.ExperienceBar::-webkit-scrollbar-thumb {
  background: var(--honey);
  border: solid var(--honey) 2px;
  border-radius: 100vw;
}
